<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227860026863-40i50ofip2tc101d7eg5ghh469v4n3om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227860026863-40i50ofip2tc101d7eg5ghh469v4n3om</string>
	<key>API_KEY</key>
	<string>AIzaSyCKmpPs7Q6TiLpD9jjlnou7J43AJ7dBzb8</string>
	<key>GCM_SENDER_ID</key>
	<string>227860026863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAcademy</string>
	<key>PROJECT_ID</key>
	<string>flutter-academy-a84e5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-academy-a84e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227860026863:ios:085b0a2848278ea744921a</string>
</dict>
</plist>